<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mateuyabar.android.pillownfc.sampleapp" >

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_nfc_black_48dp"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".PillowNfcSample"
            android:label="@string/app_name" >


        </activity>
        <activity
            android:name="com.mateuyabar.android.pillownfc.bluetooth.DeviceListActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".BluetoothReaderDemoActivity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name=".PillowNfcFragmentSampleActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
